.tile-canvas {
  border-radius: 10px; /* Still need to resolve short-count rows not reaching edge, and roundness is visually lost */
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 0 0 25%; /* flex-basis should be computed by a column count attribute e.g. `${(100 / this.columns)}%` */
}
